{% extends "base.html" %}
{% load static %}
{% block content %}
        <main class="main pages">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                        <span></span> Pages <span></span> About us
                    </div>
                </div>
            </div>
            <div class="page-content pt-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 col-lg-12 m-auto">
                            <section class="row align-items-center mb-50">
                                <div class="col-lg-6">
                                    <img src="{% static 'app/media/page/about-1.png' %}" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                                </div>
                                <div class="col-lg-6">
                                    <div class="pl-25">
                                        <h2 class="mb-30">Welcome to BhasaVerse</h2>
                                        <p class="mb-25"> <strong>BHASAVERSE</strong> is an innovative digital platform dedicated to preserving and promoting indigenous Nepali scripts, books, and cultural heritage. It is designed to bridge the gap between traditional Nepali languages and the digital world. Through advanced Optical Character Recognition (OCR) technology, <strong>BHASAVERSE</strong> digitizes indigenous scripts and books, making them accessible to a global audience.<br>
                                            Our mission at <strong>BHASAVERSE</strong> is to empower communities by preserving their rich literary heritage, languages, and unique cultural expressions. By providing a user-friendly space, we encourage collaboration, learning, and the sharing of knowledge among diverse communities. Explore <strong>BHASAVERSE</strong>to discover a treasure trove of indigenous scripts, contribute your own heritage, and engage in a vibrant community passionate about preserving Nepal’s linguistic and cultural diversity.</p>
                                        <div class="carausel-3-columns-cover position-relative">
                                            <div id="carausel-3-columns-arrows"></div>
                                            <div class="carausel-3-columns" id="carausel-3-columns">
                                                <img src="{% static 'app/media/page/about-2.png' %}" alt="" />
                                                <img src="{% static 'app/media/page/about-3.png' %}" alt="" />
                                                <img src="{% static 'app/media/page/about-4.png' %}" alt="" />
                                                <img src="{% static 'app/media/page/about-2.png' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="text-center mb-50">
                                <h2 class="title style-3 mb-40">What We Provide?</h2>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 mb-24">
                                        <div class="featured-card">
                                            <img src="{% static 'app/media/theme/icons/OCR.png' %}" style alt="" />
                                            <h4>OCR Digitization</h4>
                                            <p>Digitizing indigenous scripts, books, and texts, preserving cultural heritage in a digital format.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 mb-24">
                                        <div class="featured-card">
                                            <img src="{% static 'app/media/theme/icons/Library.png' %}" alt="" />
                                            <h4>Online library</h4>
                                            <p>A vast digital repository hosts a wealth of indigenous knowledge, accessible worldwide, ensuring the preservation of cultural treasures for future generations.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 mb-24">
                                        <div class="featured-card">
                                            <img src="{% static 'app/media/theme/icons/chatboy.png' %}" alt="" />
                                            <h4>Interactive Chatbot</h4>
                                            <p>It features an intelligent chatbot capable of answering user queries, providing information about indigenous scripts, and guiding users through the vast library of digitized content.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 mb-24">
                                        <div class="featured-card">
                                            <img src="{% static 'app/media/theme/icons/interactive.png' %}" alt="" />
                                            <h4>Translation Assistance</h4>
                                            <p>It features an intelligent chatbot capable of answering user queries, providing information about indigenous scripts, and guiding users through the vast library of digitized content.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 mb-24">
                                        <div class="featured-card">
                                            <img src="{% static 'app/media/theme/icons/collaboration.png' %}" alt="" />
                                            <h4>Community Collaboration</h4>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </section>
                            
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-xl-24 col-lg-24 m-auto">
                            <section class="mb-9">
                                <h2 class="title style-3 mb-40 text-center">Our Team</h2>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="team-card">
                                                    <img src="{% static 'app/media/team/Nawap.jpg' %}" alt="" />
                                                    <div class="content text-center">
                                                        <h4 class="mb-5">Nawap Bastola</h4>
                                                        <span>MLops/DL</span>
                                                        <div class="social-network mt-20">
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-facebook-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-twitter-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-instagram-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-youtube-brand.svg' %}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="team-card">
                                                    <img src="{% static 'app/media/team/Anjila.jpg' %}" alt="" />
                                                    <div class="content text-center">
                                                        <h4 class="mb-5">Anjila Subedi</h4>
                                                        <span>Full Stack<br>Graphic Designer</span>
                                                        <div class="social-network mt-20">
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-facebook-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-twitter-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-instagram-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-youtube-brand.svg' %}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="team-card">
                                                    <img src="{% static 'app/media/team/Aagaman.png' %}" alt="" />
                                                    <div class="content text-center">
                                                        <h4 class="mb-5">Aagaman Bhattarai</h4>
                                                        <span>Flutter<br>NLP</span>
                                                        <div class="social-network mt-20">
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-facebook-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-twitter-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-instagram-brand.svg' %}" alt="" /></a>
                                                            <a href="#"><img src="{% static 'app/media/theme/icons/icon-youtube-brand.svg' %}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>                
            </div>
        </main>
{% endblock content %}